flows.json
[
    {
        "id": "1aa5cf6572a5f15e",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88c3b4c1c27425e7",
        "type": "mqtt in",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "topic": "sistema/luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d09b2449b78c02bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "2a1d517db3888095"
            ]
        ]
    },
    {
        "id": "9a0ad5c002f01080",
        "type": "ui_gauge",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "group": "de4929c823f17acb",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel da luz",
        "label": "",
        "format": "{{number}}",
        "min": 0,
        "max": "4100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff04"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "f098b3f2229d79ba",
        "type": "mqtt in",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "topic": "sistema/luminosidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d09b2449b78c02bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "9a0ad5c002f01080",
                "28d0c0edc009f9be"
            ]
        ]
    },
    {
        "id": "28d0c0edc009f9be",
        "type": "ui_text",
        "z": "1aa5cf6572a5f15e",
        "group": "de4929c823f17acb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nivel de iluminação",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "2a1d517db3888095",
        "type": "ui_text",
        "z": "1aa5cf6572a5f15e",
        "group": "de4929c823f17acb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 40,
        "wires": []
    },
    {
        "id": "692db0c113212c54",
        "type": "ui_slider",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "label": "Luz natural maxima",
        "tooltip": "",
        "group": "de4929c823f17acb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4100",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "b86cd50cbfae3324"
            ]
        ]
    },
    {
        "id": "b86cd50cbfae3324",
        "type": "mqtt out",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "topic": "sistema/limiar",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d09b2449b78c02bb",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "897e32c486c06621",
        "type": "mqtt in",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "topic": "sistema/limiarAtual",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d09b2449b78c02bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "692db0c113212c54"
            ]
        ]
    },
    {
        "id": "e056b52de89733e8",
        "type": "mqtt in",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "topic": "sistema/tempoLuzAtual",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d09b2449b78c02bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "9e40a1a7b0edf3d0",
                "be419f7aa8648db0"
            ]
        ]
    },
    {
        "id": "9e40a1a7b0edf3d0",
        "type": "ui_text",
        "z": "1aa5cf6572a5f15e",
        "group": "29c1b5e1b8e26a62",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temporizador da luz:",
        "format": "{{msg.payload}} segundos",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "db026ac7cc1654e0",
        "type": "mqtt out",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "topic": "sistema/tempoLuz",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d09b2449b78c02bb",
        "x": 1050,
        "y": 480,
        "wires": []
    },
    {
        "id": "be419f7aa8648db0",
        "type": "ui_slider",
        "z": "1aa5cf6572a5f15e",
        "name": "",
        "label": "Tempo de luz ligada:",
        "tooltip": "",
        "group": "29c1b5e1b8e26a62",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1800",
        "step": "",
        "className": "",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "db026ac7cc1654e0"
            ]
        ]
    },
    {
        "id": "d09b2449b78c02bb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de4929c823f17acb",
        "type": "ui_group",
        "name": "Controlador de sensor do luz",
        "tab": "22543ac30e1de244",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29c1b5e1b8e26a62",
        "type": "ui_group",
        "name": "Controlador do tempo de desligamento das luzes",
        "tab": "22543ac30e1de244",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22543ac30e1de244",
        "type": "ui_tab",
        "name": "Hydrio mind",
        "icon": "",
        "disabled": false,
        "hidden": false
    }
]